/* tree.css */
.tree details{
  padding-left: 10px;
}

.tree summary{
  outline: 0;
  padding-left: 20px;
  list-style: none;
}

/* 在最后一层没有子元素时，不可展开、折叠 */
/* .tree summary:not(:only-child){
  background-image: url('../source/sort-right.png');
  background-size: cover;
  background-position: center;
} */

/* 在最后一层没有子元素时，不可展开、折叠 */
/* .tree details[open] > summary:not(:only-child){
  background-image: url('../source/sort-down.png');
  background-size: cover;
} */

.tree{
  flex: 1;
  padding: 4px 0;
  position: relative;
  width: 200px;
  height: 600px;
  overflow: auto;
}

/* margin设为负的增加鼠标可点击范围，实现通栏点击效果 */
.tree-item{
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 30px;
  /* border-radius: 10px; */
  color: rgba(0, 0, 0, 0.85);
  padding-left: 100px;
  margin-left: -100px;
  cursor: default;
}

.tree-item::after{
  content: '';
  /* position: absolute; */
  left: 10px;
  right: 10px; /* 水平方向的尺寸依赖于父级.tree */
  height: 38px;
  background: #EEF2FF;
  border-radius: 8px;
  z-index: -1;
  opacity: 0;
  /* background-image: url('../source/sort-down.png'); */
  transition: .2s;
}

.tree-item:hover{
  background: #FF4B2B;
}

.tree-item:hover::after{
  opacity: 1;
}

/* 添加点击后效果 */
.tree-item:focus-within::after {
  background-color: red;
  opacity: 1;
}

.tree-item::before{
  content: '';
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-right: 8px;
  /* background-image: url('../source/sort-right.png'); */
  /* background-size: cover; */
}


/* 在最后一层没有子元素时，不可展开、折叠 */
.tree summary:not(:only-child){
  content: "▶";
  /* background-image: url('../source/sort-right.png'); */
  /* background-size: 20px 20px; */
  /* background-position: center; */
}

/* 在最后一层没有子元素时，不可展开、折叠 */
.tree details[open] > summary:not(:only-child){
  content: "▼";
  /* background-image: url('../source/sort-down.png'); */
  /* background-size: 20px 20px; */
}

/* 当 tree-item 包含有焦点的后代元素时，更改图标
.tree-item:focus-within + .tree-item::before {
  background-image: url('../source/sort-down.png');
} */