body, html {
    margin: 0;
    padding: 0;
}

.input-container {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.clearable-input {
    position: relative;
}
  
.clearable-input input {
    padding-right: 30px;
}

.clearable-input .clear-btn {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
}

#togglePassword {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
}