<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Qige's ComponentsLib</title>
  <link rel="stylesheet" href="../static/components/trees/tree.css">
  <link rel="stylesheet" href="../static/components/layouts/homepage.css">
</head>

<body>
  <header>
    <p>Qige's Components</p>
  </header>

  <div class="container">
    <div class="sidebar">
      <div class="tree" id="tree">
        <details>
          <summary>
            <span class="tree-item">Button</span>
              <!-- 点击后跳转到myButton.html，其他组件也是-->
          </summary>
        </details>
        <details>
          <summary>
            <span class="tree-item">Form</span>
          </summary>
              <details>
                <summary>
                  <span class="tree-item">Input</span>
                </summary>
              </details>
              <details>
                <summary>
                  <span class="tree-item">Form Control</span>
                </summary>
              </details>
        </details>
        <details>
          <summary>
            <span class="tree-item">Layout</span>
          </summary>
        </details>
        <details>
          <summary>
            <span class="tree-item">Table</span>
          </summary>
        </details>
        <details>
          <summary>
            <span class="tree-item">Colors</span>
          </summary>
        </details>
        <details>
          <summary>
            <span class="tree-item">Pagination</span>
          </summary>
        </details>
        <details>
          <summary>
            <span class="tree-item">Label</span>
          </summary>
        </details>
        <details>
          <summary>
            <span class="tree-item">Carousel</span>
          </summary>
        </details>
        <details>
          <summary>
            <span class="tree-item">Upload</span>
          </summary>
        </details>
        <details>
          <summary>
            <span class="tree-item">Tree</span>
          </summary>
        </details>
        <details>
          <summary>
            <span class="tree-item">Dialog</span>
          </summary>
        </details>
      </div>
    </div>
    <!-- 组件展示页面 -->
    <div class="content">
      <iframe id="main-iframe" src=""></iframe>
    </div>
  </div>

  <footer class="footer">
    <a href="https://github.com/chi030303" target="_blank">Welcome to my github!</a>
  </footer>

  <script src="../static/scripts/componentsHandler.js"></script>
</body>
</html>