<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Qige's Button</title>
  <!-- 引入按钮组件库的样式 -->
  <link rel="stylesheet" href="../static/components/buttons/button.css">
</head>
<body>
  <!-- 在这里展示按钮组件 -->
  <div class="container">
    <h3 style="padding-left: 20px;">按钮组件</h3>
    <h6 style="padding-left: 20px;">主按钮</h6>
    <button class="btn primary">Primary Button</button>

    <h6 style="padding-left: 20px;">次按钮</h6>
    <button class="btn secondary">Secondary Button</button>

    <h6 style="padding-left: 20px;">点按钮</h6>
    <button class="btn dashed">Dashed Button</button>

    <h6 style="padding-left: 20px;">文本按钮</h6>
    <button class="btn text">Text Button</button>

    <h6 style="padding-left: 20px;">链接按钮</h6>
    <button class="btn link">Link Button</button>

    <h6 style="padding-left: 20px;">阻塞按钮</h6>
    <button class="btn block">Block Button</button>

    <h6 style="padding-left: 20px;">不可选中按钮</h6>
    <button class="btn disabled" disabled>Disabled Button</button>
  </div>

  <br><br>
  <div class="example">
    <p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="oNOrmVg" data-user="tansill" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
      <span>See the Pen <a href="https://codepen.io/tansill/pen/oNOrmVg">
      buttons</a> by 騏tansill (<a href="https://codepen.io/tansill">@tansill</a>)
      on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
    <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
  </div>
</body>
</html>
