<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qige's Color</title>
    <link rel="stylesheet" href="../static/components/colors/color.css">
</head>
<body>

    <h3 style="padding-left: 20px;">这是kiki的主题色，你可以应用到不同的场景中。</h3>
    <h6 style="padding-left: 20px;">以下颜色点击后就可复制哦！</h6>
    <h6 style="text-decoration: line-through; padding-left: 20px;;">均是出自我喜欢的电影！点击后可以跳转到相应电影简介页面哦！</h6>

    <div class="color-card red" data-color="#c81414" url="https://movie.douban.com/subject/1291832/">
        <div class="color-name">低俗小说红</div>
        <div class="color-value">#C81414</div>
    </div>
        
    <div class="color-card pink" data-color="#dba0ba" url="https://movie.douban.com/subject/1395091/">
        <div class="color-name">未麻部屋粉</div>
        <div class="color-value">#DBA0BA</div>
    </div>
        
    <div class="color-card yellow" data-color="#fcd413" url="https://movie.douban.com/subject/1291580/">
        <div class="color-name">杀死比尔黄</div>
        <div class="color-value">#FCD413</div>
    </div>
        
    <div class="color-card green" data-color="#559b6a" url="https://movie.douban.com/subject/1291843/">
        <div class="color-name">黑客帝国绿</div>
        <div class="color-value">#559B6A</div>
    </div>
        
    <div class="color-card purple" data-color="#36217e" url="https://movie.douban.com/subject/25934014/">
        <div class="color-name">爱乐之城紫</div>
        <div class="color-value">#36217E</div>
    </div>
        
    <div class="color-card blue" data-color="#5286b4" url="https://movie.douban.com/subject/1293531/">
        <div class="color-name">第五元素蓝</div>
        <div class="color-value">#5286B4</div>
    </div>
        
    <div class="color-card brown" data-color="#844c2f" url="https://movie.douban.com/subject/1306664/">
        <div class="color-name">共同警备褐</div>
        <div class="color-value">#844C2F</div>
    </div>

    <h3 style="padding-left: 20px;">中性色</h3>
    <h6 style="padding-left: 20px;">用于文本、背景和边框颜色。通过运用不同的中性色，来表现层次结构。</h6>

    <div class="color-card font1" data-color="#0d0d0b">
        <div class="color-name">主要文字</div>
        <div class="color-value">#0D0D0B</div>
    </div>

    <div class="color-card font2" data-color="#2c3e50">
        <div class="color-name">常规文字</div>
        <div class="color-value">#2C3E50</div>
    </div>

    <div class="color-card font3" data-color="#bdc3c7">
        <div class="color-name">次要文字</div>
        <div class="color-value">#BDC3C7</div>
    </div>

    <div class="color-card font4" data-color="#EAEAEA">
        <div class="color-name">占位文字</div>
        <div class="color-value">#EAEAEA</div>
    </div>


    <div class="color-card boder1" data-color="#DBDBDB">
        <div class="color-name" style="color: #000;">一级边框</div>
        <div class="color-value">#DBDBDB</div>
    </div>

    <div class="color-card boder2" data-color="#EAEAEA">
        <div class="color-name" style="color: #000;">二级边框</div>
        <div class="color-value">#EAEAEA</div>
    </div>

    <div class="color-card boder3" data-color="#F2F2F2">
        <div class="color-name" style="color: #000;">三级边框</div>
        <div class="color-value">#F2F2F2</div>
    </div>

    <div class="color-card boder4" data-color="#eef2f3">
        <div class="color-name" style="color: #000;">四级边框</div>
        <div class="color-value">#eef2f3</div>
    </div>

    <script src="../static/scripts/color/link.js"></script>
    <script src="../static/scripts/color/copy.js"></script>
</body>
</html>