<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qige's Dialog</title>
    <link rel="stylesheet" href="../static/components/dialog.css">
</head>
<body>

    <h6 style="padding-left: 20px;">对话框组件</h6>

    <div style="padding-left: 20px;">
        <button id="open-dialog-btn">Open Dialog</button>
    </div>

    <div class="dialog-container" id="dialog-container">
        <div class="dialog" id="dialog">
            <div class="dialog-header">Dialog</div>
            <div class="dialog-body" id="dialog-body"></div>
            <div class="dialog-footer">
                <button id="confirm-btn">OK</button>
                <button id="cancel-btn">Cancel</button>
            </div>
        </div>
        <div class="overlay" id="overlay"></div>
    </div>

    <br><br>
    <div class="example">
        <p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="oNOrmRX" data-user="tansill" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
            <span>See the Pen <a href="https://codepen.io/tansill/pen/oNOrmRX">
            dialog</a> by 騏tansill (<a href="https://codepen.io/tansill">@tansill</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
        </p>
        <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
    </div>
    <script src="../static/scripts/dialog.js"></script>
</body>
</html>