<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qige's Label</title>
    <link rel="stylesheet" href="../static/components/label.css">
</head>
<body>

    <h3 style="padding-left: 20px;">标签组件</h3>
    <h6 style="padding-left: 20px;">包括不可删除标签及动态配置标签</h6>

    <div id="tag-container" style="padding-left: 20px;">
        <div class="tag unremovable">Unremovable Tag</div>
        <div class="tag">Tag1</div>
        <div class="tag">Tag2</div>
        <div id="new-tag" class="tag new-tag">+ New Tag</div>
        <!-- 动态标签会动态添加到这里 -->
    </div>
    
    <script src="../static/scripts/label.js"></script>
</body>
</html>