<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qige's Layouts</title>
    <link rel="stylesheet" href="../static/components/layouts/myLayouts.css">
</head>
<body>
    <h2>Qige's Layouts</h2>
    <div class="container">
        <div id="layoutA">LayoutA
            <header>
                <h7>Header</h7>
            </header>
            <main>
                <h4>Content</h4>
            </main>
            <footer>
                <h7>Footer</h7>
            </footer>
        </div>
        <div id="layoutB">LayoutB
            <header>
                <h7>Header</h7>
            </header>
            <div class="layout2">
                <aside class="sidebar">
                    <h6>sidebar</h6>
                </aside>
                <main>
                    <h4>Content</h4>
                </main>
            </div>
            <footer>
                <h7>Footer</h7>
            </footer>
        </div>
        <div id="layoutC">LayoutC
            <header>
                <h7>Header</h7>
            </header>
            <div class="layout2">
                <main>
                    <h4>Content</h4>
                </main>
                <aside class="sidebar">
                    <h6>sidebar</h6>
                </aside>
            </div>
            <footer>
                <h7>Footer</h7>
            </footer>
        </div>
        <div id="layoutD">LayoutD
            <div class="layout3">
                <aside class="sidebar" style="float: left; height: 170px; border-radius: 10px 0 0 10px;">
                    <h6>sidebar</h6>
                </aside>
                <header>
                    <h7>Header</h7>
                </header>
                <main>
                    <h4>Content</h4>
                </main>
                <footer>
                    <h7>Footer</h7>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>