<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qige's Tree</title>
    <link rel="stylesheet" href="../static/components/trees/tree.css">
    <link rel="stylesheet" href="../static/components/trees/select.css">
    <link rel="stylesheet" href="../static/components/trees/dropdown.css">
</head>
<body>
    <h3 style="padding-left: 20px;">树形组件</h3>
    <h6 style="padding-left: 20px;">普通树形组件 可折叠、可展开</h6>
    <!-- 普通树形组件 -->
    <div class="tree" id="tree" style="height: 200px;"></div>

    <br><br>
    <div class="example">
        <p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="zYXVeVQ" data-user="tansill" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
            <span>See the Pen <a href="https://codepen.io/tansill/pen/zYXVeVQ">
            tree</a> by 騏tansill (<a href="https://codepen.io/tansill">@tansill</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
        </p>
        <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
    </div>
    <script src="../static/scripts/tree/tree.js"></script>
</body>
</html>